<!--The user is redirected to this page when trying to access an unknown file on the server-->
<html>
<head>
  <link rel="icon" href="img/icon.png">
  <title>Error: Page Forbidden</title>
<link rel="stylesheet" href="css/404style.css"/>
</head>
<body>
<div class="glitch">
  <span> 403 forbidden </span>
  <a href="/main">
  <span> Click here to return to home.</span>
  </a>
 </div>
</body>
</html>
