<!DOCTYPE html>
<html lang="zxx">
<head>
  <% include ../partials/head %>
  <% include ../partials/headScripts %>

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<% include ../partials/profileHeader %>
	</header>
	<!-- Header section end -->

  <!--Calculated Journey -->
  <section id="garage" class="hero-section set-bg" data-setbg="/img/garage.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
          <h2>Garage</h2>
          <p>Below is the details of cars you have in your Skrrt garage.</p>
          <dropdown>
            <input id="toggle2" type="checkbox">
            <label for="toggle2" class="animate">Menu<i class="fa fa-bars float-right"></i></label>
            <ul class="animate">
              <li class="animate">Code<i class="fa fa-code float-right"></i></li>
              <li class="animate">Zoom<i class="fa fa-arrows-alt float-right"></i></li>
              <li class="animate">Settings<i class="fa fa-cog float-right"></i></li>
            </ul>
          </dropdown>
          <!-- <div class="calculatedRow">
              <h3>Registration Number:</h3>
              <h3 class="calculatedH3"></h3>
            </div>
            <div class="calculatedRow">
              <h3>Make: </h3>
              <h3 class="calculatedH3"><%= make %></h3>
            </div>
            <div class="calculatedRow">
              <h3>Model:</h3>
              <h3 class="calculatedH3"><%= model %></h3>
            </div>
            <div class="calculatedRow">
              <h3>MPG: </h3>
              <h3 class="calculatedH3"></h3>
            </div>
            <div class="calculatedRow">
              <h3>Fuel Type: </h3>
              <h3 class="calculatedH3"></h3>
            </div>
            <a href="/remcar" class="site-btn">Remove Car</a>
            <a href="" class="site-btn">Next Car</a>
						<a href="/newcar" class="site-btn">Park New Car</a> -->

        </div>


            <div id="googleMap2"></div>



        </div>
      </div>
  </section>
  <!--Calculated Journey Section End-->





	<!-- Footer section -->
	<footer class="footer-section">
		<% include ../partials/footer %>
	</footer>
	<!-- Footer top section end -->


	<!--====== Javascripts & Jquery ======-->
	<% include ../partials/footerScripts %>

	</body>
</html>
