<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body onload="checkCookie()">
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">
    <% include ../partials/header%>
  </header>
  <!-- Header section end -->

  <!-- Login Pop-up Section-->
  <div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="/img/avatar_image.jpg" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Make an <a href="register.html">account?</a></span>
      </div>
    </form>
  </div>

  <!-- Other Banner -->
  <section class="hero-banner-section set-bg" data-setbg="img/banner_image_7.jpg">
    <div class="container h-100">
      <div class="hero-banner-content text-white">
        <div class="row">
          <div class="col-lg-6 pr-0">
            <h2>Skrrt.</h2>
            <p>We plan your route and take your car details to calculate the optimum price for you to charge for a lift. </p>
            <a href="main" class="site-btn">Plan your route</a>
          </div>
          <a href="#2">
            <div class="mouse-text">
              Find out more
            </div>
            <div class="mousey">

              <div class="scroller">
              </div>
            </div>

          </a>
        </div>

      </div>
    </div>
  </section>
  <!--Other Banner End-->

  <!-- Features section -->
  <section class="features-section spad" id="2">
    <div class="container">
      <div class="section-title">
        <img src="/img/car.png" alt="#">
        <p>Making lifts easy</p>
        <h2>What do we do?</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 feature-item">
          <div class="ft-icon">
            <img src="/img/map.png" alt="#">
          </div>
          <h4>Plan your route</h4>
          <p>We work with Google technologies to figure out the best route for you.</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item fi-center-top">
          <div class="ft-icon">
            <img src="/img/money.png" alt="#">
          </div>
          <h4>Calculate your fee</h4>
          <p>Fuel and time consumption is taken into consideration when recommending prices.</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
          <div class="ft-icon">
            <img src="/img/fuel.png" alt="#">
          </div>
          <h4>Predict fuel usage</h4>
          <p>Your registration number is taken to check databases to allow us to predict the amount of fuel you will burn on a trip.</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
          <div class="ft-icon">
            <img src="/img/social.png" alt="#">
          </div>
          <h4>Never drive alone again</h4>
          <p>Why drive alone when you can take a friend and have them contribute to your commuting costs?</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
          <div class="ft-icon">
            <img src="/img/globe.png" alt="#">
          </div>
          <h4>Save the environment</h4>
          <p>Less vehicles on the road = Less carbon emmissions = Helping the planet</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
          <div class="ft-icon">
            <img src="/img/route.png" alt="#">
          </div>
          <h4>Save your common routes</h4>
          <p>You can save your most traveled journeys to quickly get back on the road. </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-section">
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/footerScripts %>
  <script src="/js/bootstrap.min.js"></script>
	<script src="/js/circle-progress.min.js"></script>

</body>
</html>
