<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/headScripts %>
</head>

<body onload=initialize()>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">
    <% include ../partials/header%>
  </header>
  <!-- Header section end -->

  <!-- Login Pop-up Section-->
  <%include ../partials/login%>

  <!-- Journey Section-->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_5.jpg">
    <div class="container h-100" id="1">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Plan your journey</h2>
          <p>Please enter the locations that you will be travelling to and from. </p>
          <input id="Start" class="input-boxes" type="text" placeholder="Starting Location" name="start-location" value="Aberdeen, UK" required>
          <input id="End" class="input-boxes" type="text" placeholder="End Location" name="end-location" value="Dundee, UK" required>
          <a href="#2" id="sub1" class="site-btn">Next Section</a>
        </div>
        <div id="map"></div>
      </div>
    </div>
  </section>
  <!--Journey Section End-->

  <!-- Fuel Price Section-->
  <section class="hero-section set-bg" id="pcode-sec" data-setbg="/img/banner_image.jpg">
    <div class="container h-100" id="2">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Fuel Prices</h2>
          <p>Enter your postcode so we can find the fuel prices in your area.</p>
          <input id="fuelPrice-box" type="text" placeholder="Postcode" name="registration-plate">
          <a href="#3" id="fuelPrice" class="site-btn">Next Section</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Fuel Price Section End-->

  <!-- Car Section -->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_3.jpg">
    <div class="container h-100" id="3">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Car Details</h2>
          <p>We need more information about your car to determine costs. Please enter your registration below or enter your details manually. </p>
          <div id="man-car">
            <h5>Manufacturer:</h5>
            <select id="manufacturerSelect">
              <option value="0">Select manufacturer:</option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <option value="3">Citroen</option>
              <option value="4">Ford</option>
              <option value="5">Honda</option>
              <option value="6">Jaguar</option>
              <option value="7">Land Rover</option>
              <option value="8">Mercedes</option>
              <option value="9">Mini</option>
              <option value="10">Nissan</option>
              <option value="11">Toyota</option>
              <option value="12">Volvo</option>
            </select>
            <h5>Model:</h5>
            <input id="user-input" type="text" placeholder="" name="model" required>
            <h5>Transmission:</h5>
            <input id="user-input" type="text" placeholder="" name="transition">
            <h5>Engine Capacity:</h5>
            <input id="user-input" type="text" placeholder="" name="engine-capacity">
          </div>
          <div id="reg-car">
            <h5>Enter your registration.</h5>
            <input id="reg-box" type="text" placeholder="" name="registration" required>
          </div>
          <a href="#4" class="site-btn">Next Section</a>
          <a href="#nothing" id="switchbtn" onClick="regSwitch()" class="site-btn">Enter Manually</a>
        </div>
      </div>
    </div>
  </section>
  <!--Car section End-->

  <!--Passengers Section-->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_1.jpg">
    <div class="container h-100" id="4">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Passengers</h2>
          <p>Select a number below to choose how many people will be traveling on your journey.</p>
          <div class="number-line">
            <h5 id="demo">Number of Passengers:</h5>
          </div>
          <div id="user-input" class="slidecontainer">
            <input type="range" min="1" max="7" value="1" class="slider" id="myRange">
          </div>
          <a href="#5" id="recbtn" onClick="showRecommendation()" class="site-btn">Calculate Journey</a>
        </div>
      </div>
    </div>
  </section>
  <!--Passenger Section End-->

  <!--Calculated Journey -->
  <section id="recommendation" class="hero-section set-bg" data-setbg="/img/banner_image_4.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
          <h2>Your Journey</h2>
          <p>Below is the calculated cost of your journey, Thanks for using Skrrt!</p>
          <div class="calculatedRow">
            <h3>Starting location:</h3>
            <h3 id="startDest" class="calculatedH3">Aberdeen</h3>
          </div>
          <div class="calculatedRow">
            <h3>End location:</h3>
            <h3 id="endDest" class="calculatedH3">Dundee</h3>
          </div>
          <div class="calculatedRow">
            <h3>Vehicle Reg:</h3>
            <h3 id="vehicleDetail" class="calculatedH3">AB</h3>
          </div>
          <div class="calculatedRow">
            <h3>No. Of Passengers:</h3>
            <h3 id="noPassengers" class="calculatedH3">5</h3>
          </div>
          <div class="calculatedRow">
            <h3>Cost Of Fuel:</h3>
            <h3 id="fuelPrice" class="calculatedH3">2.0</h3>
          </div>
          <div class="calculatedRow">
            <h3>Recommendation:</h3>
            <h3 id="recommendation" class="calculatedH3">£20/pp</h3>
          </div>
          <a href="#nothing" class="site-btn">Save Journey</a>
          <a href="" class="site-btn">New Journey</a>
        </div>
        <!-- <div id="map2"></div> -->
      </div>
    </div>
  </section>

  <footer class="footer-section">
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/footerScripts %>
  <script src="js/slider.js"></script>

</body>

</html>
