<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/headScripts %>
</head>

<body onload=initialize()>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">


    <%= user %>
    <% if (user != "") { %>
        <% include ../partials/profileHeader%>
<% } else { %>
  <% include ../partials/header%>
<% } %>
  </header>
  <!-- Header section end -->

  <!-- Login Pop-up Section-->
  <%include ../partials/login%>

  <!-- Journey Section-->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_5.jpg">
    <div class="container h-100" id="1">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Plan your journey</h2>
          <p>Please enter the locations that you will be travelling to and from. </p>
          <input id="Start" class="input-boxes" type="text" placeholder="Starting Location" name="start-location" value="Aberdeen, UK" required>
          <input id="End" class="input-boxes" type="text" placeholder="End Location" name="end-location" value="Dundee, UK" required>
          <a id="sub1" class="site-btn">Next Section</a>
        </div>
        <div id="map"></div>
      </div>
    </div>
  </section>
  <!--Journey Section End-->

  <!-- Fuel Price Section-->
  <section class="hero-section set-bg" id="pcode-sec" data-setbg="/img/banner_image.jpg">
    <div class="container h-100" id="2">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Fuel Prices</h2>
          <p>Enter your postcode so we can find the fuel prices in your area.</p>
          <input id="fuelPrice-box" type="text" placeholder="Postcode" name="registration-plate">
          <a href="#3" id="fuelPrice" class="site-btn">Next Section</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Fuel Price Section End-->

  <!-- Car Section -->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_3.jpg">
    <div class="container h-100" id="3">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Car Details</h2>
          <p>We need more information about your car to determine costs. Please enter your registration below or enter your details manually. </p>
          <div id="reg-car">
            <h5>Enter your registration.</h5>
            <input id="reg-box" type="text" placeholder="AM58 ZHR" name="registration" maxlength="10" required>
          </div>
          <a href="#4" id="sub2" class="site-btn">Next Section</a>
        </div>
      </div>
    </div>
  </section>
  <!--Car section End-->

  <!--Return Section-->
  <section class="hero-section set-bg" data-setbg="/img/return.jpg">
    <div class="container h-100" id="4">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Are you returning?</h2>
          <p>Select one-way or return trip below.</p>
          <p class="returnText">One-Way Return</p><label class="switch">
              <input id="return" type="checkbox">
                <span class="slider3 round"></span>
          </label><br>
          <a href="#5" id="profpass" class="site-btn">Next Section</a>
        </div>
      </div>
    </div>
  </section>
  <!--Return Section End-->

  <!--Profit Section-->
  <section class="hero-section set-bg" data-setbg="/img/money2.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Profit</h2>
          <p>How greedy do you feel?</p>
          <div class="number-line">
            <h5 id="demo2">Greediness:</h5>
          </div>
          <div id="user-input" class="slidecontainer">
            <input type="range" min="1" max="5" value="1" class="slider" id="myRange2">
          </div>
          <a href="#6" id="profpass" class="site-btn">Next Section</a>
        </div>
      </div>
    </div>
  </section>
  <!--Profit Section End-->

  <!--Passengers Section-->
  <section class="hero-section set-bg" data-setbg="/img/banner_image_1.jpg">
    <div class="container h-100" id="6">
      <div class="hero-content text-white">
        <div class="row">
          <h2>Passengers</h2>
          <p>Select a number below to choose how many people will be traveling on your journey.</p>
          <div class="number-line">
            <h5 id="demo">Number of Passengers:</h5>
          </div>
          <div id="user-input" class="slidecontainer">
            <input type="range" min="1" max="7" value="1" class="slider" id="myRange">
          </div>
          <a href="#7" id="recbtn" onClick="showRecommendation()" class="site-btn">Calculate Journey</a>
        </div>
      </div>
    </div>
  </section>
  <!--Passenger Section End-->

  <!--Calculated Journey -->
  <section id="recommendation" class="hero-section set-bg" data-setbg="/img/banner_image_4.jpg">
    <div class="container h-100" id="7">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
          <h2>Your Journey</h2>
          <p>Below is the calculated cost of your journey, Thanks for using Skrrt!</p>
          <div class="calculatedRow">
            <h3>Starting location:</h3>
            <h3 id="startDest" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>End location:</h3>
            <h3 id="endDest" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Vehicle Reg:</h3>
            <h3 id="vehicleDetail" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Vehicle MPG:</h3>
            <h3 id="vehicleMPG" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>No. Of Passengers:</h3>
            <h3 id="noPassengers" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Cost Of Fuel:</h3>
            <h3 id="fuelCost" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Profit Multiplier:</h3>
            <h3 id="prof" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Trip Type:</h3>
            <h3 id="type" class="calculatedH3">.</h3>
          </div>
          <div class="calculatedRow">
            <h3>Recommendation:</h3>
            <h3 id="recommendedPrice" class="calculatedH3">.</h3>
          </div>
          <div id="jny-name">
            <h5>Enter a name for your journey to save it.</h5>
            <input id="jny-box" type="text" placeholder="Trip to work" name="journey-name"  maxlength="50" required>
          </div>
          <a id="addj" class="site-btn">Save Journey</a>
          <a href="" class="site-btn">New Journey</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer-section">
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/footerScripts %>
  <script src="js/slider.js"></script>

</body>

</html>
