<!DOCTYPE html>
<html lang="zxx">
<head>
  <% include ../partials/head %>
  <% include ../partials/headScripts %>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<% include ../partials/profileHeader %>
	</header>
	<!-- Header section end -->

  <!--Calculated Journey -->
  <section id="profile" class="hero-section set-bg" data-setbg="/img/profile.jpg">
    <div class="container h-100" id="5">
      <div class="hero-content text-white">
        <div class="row" id="bigRow">
            <h2>Profile</h2>
            <div class="profileTitle">
              <div id="profile-info">
            <h2 class="firstname"><%= First %> <%= Last %></h2>
            <h2 class="username">Username: <%= Username %></h2>
          </div>
            <div id="edit">
              <h5>Enter your registration.</h5>
              <input id="edit-box" type="text" placeholder="AM58 ZHR" name="edit" maxlength="10" required>
            </div>
          </div>
            <a href="/journey" class="site-btn">Saved Journeys</a>
            <a href="/garage" class="site-btn">Garage</a>
						<a href="#" id="edit-btn"class="site-btn">Edit Profile</a>
            </div>





        </div>
      </div>
  </section>
  <!--Calculated Journey Section End-->





	<!-- Footer section -->
	<footer class="footer-section">
		<% include ../partials/footer %>
	</footer>
	<!-- Footer top section end -->


	<!--====== Javascripts & Jquery ======-->
	<% include ../partials/footerScripts %>
	</body>
</html>
