<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/registerHead %>
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">
    <% include ../partials/header%>
  </header>
  <!-- Header section end -->

  <!-- Login Pop-up Section-->
  <%include ../partials/login%>

  <!-- setting background image for register page -->
  <div class="banner">
    <div class="banner_background" style="background-image:url(img/banner_image_6.jpg)"></div>
    <!-- This is the main contianer for the register page -->
    <div class="banner_content">
      <div class="banner_content_inner">
        <!-- div containing the tabs for sign up page -->
        <div class="signup-container">
          <div class="details">Details</div>
          <div class="car-info">Car Details</div>

          <!-- inputs for the user details -->
          <form id="validate1" action="/adduser" method="POST">
            <div class="details-form">
              <input type="text" placeholder="First name" class="input" name="fname"><br />
              <input type="text" placeholder="Last name" class="input" name="surname"><br />
              <input type="text" placeholder="Choose a Username" class="input" name="username"><br />
              <p id="msg"><%= msg %></p>
              <input type="password" placeholder="Choose a Password" class="input" name="password"><br />
              <div class="btn" id="personal-details_btn">
                <p class="idNext">Next</p>
              </div>
            </div>

            <div class="car-info-form">
              <input type="text" placeholder="Make" class="input" name="make"><br />
              <input type="text" placeholder="Model" class="input" name="model"><br />
              <input type="text" placeholder="Year" class="input" name="year"><br />
              <input type="text" placeholder="Fuel Type" class="input" name="ftype"><br />
              <input type="text" placeholder="Fuel Economy" class="input" name="mpg"><br />
              <input type="text" placeholder="Registration Number" class="input" name="reg"><br />
              <div class="btn" id="confirm_btn">
                <p class="idNext">Sign up</p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <footer class="footer-section">
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/footerScripts %>
  <script src="js/jquery.validate.min.js"></script>

</body>

</html>
