<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/registerHead %>
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Header section -->
  <header class="header-section">
    <% include ../partials/header%>
  </header>
  <!-- Header section end -->

  <!-- Login Pop-up Section-->
  <%include ../partials/login%>
  <!-- <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script> -->

  <!-- setting background image for register page -->
  <div class="banner">
    <div class="banner_background" style="background-image:url(img/banner_image_6.jpg)"></div>
    <!-- This is the main contianer for the register page -->
    <div class="banner_content">
      <div class="banner_content_inner">
        <!-- div containing the tabs for sign up page -->
        <div class="signup-container">
          <div class="details">Details</div>
          <div class="car-info">Car Details</div>
          <div class="location">Location</div>

          <!-- inputs for the user details -->
          <form id="validate1" action="/adduser" method="POST">
            <div class="details-form">
              <input type="text" placeholder="First name" class="input" name="fname"><br />
              <input type="text" placeholder="Last name" class="input" name="surname"><br />
              <input type="text" placeholder="E-mail address" class="input" name="email"><br />
              <input type="text" placeholder="Choose a Username" class="input" name="username"><br />
              <input type="password" placeholder="Choose a Password" class="input" name="password"><br />
              <div class="btn" id="personal-details_btn">
                <p class="idNext">Next</p>
              </div>
            </div>



            <div class="car-info-form">
              <input type="text" placeholder="Make" class="input" name="make"><br />
              <input type="text" placeholder="Model" class="input" name="model"><br />
              <input type="text" placeholder="Year" class="input" name="year"><br />
              <div class="btn" id="car-details_btn">
                <p class="idNext">Next</p>
              </div>
            </div>

            <div class="location-form">
              <input type="text" placeholder="Postcode" class="input" name="field9"><br />
              <input type="text" placeholder="House number \ name" class="input" name="field10"><br />
              <input type="text" placeholder="City" class="input" name="field11"><br />
              <div class="btn" id="confirm_btn">
                <p class="idNext" onClick="document.forms['validate1'].submit();">Sign up</p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <footer class="footer-section">
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/footerScripts %>
  <script src="js/jquery.validate.min.js"></script>

</body>

</html>
