<div id="id01" class="modal">

  <form id="loginform" class="modal-content animate" action="/doLogin" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/img/avatar_image.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input id="username"type="text" placeholder="Enter Username" name="uname" required>

      <label for="pword"><b>Password</b></label>
      <input id="password"type="password" placeholder="Enter Password" name="pword" required>
      <p class="msg" id="errorMSG"></p>
      <a href="#nothing" onclick="document.forms['loginform'].submit();"class="site-btn" id="log-btn">Login</a>

    </div>
    <div class="container" style="background-color:#f1f1f1">
      Make an <a href="/register">account?</a>
    </div>
  </form>
</div>
