<div class="container">
	<ul class="footer-menu">
		<li><a href="/main">Home</a></li>
		<li><a href="/">About us</a></li>
		<li><a href="/journey">Saved Journeys</a></li>
		<li><a href="/garage">Garage</a></li>
	</ul>
</div>
