<a href="/" class="site-logo"><img src="./img/logo.png" alt=""></a>
<div class="nav-switch">
  <i class="fa fa-bars"></i>
</div>
<div class="nav-warp">
  <div class="user-panel">
    <a href="#logout" onclick="document.getElementById('id02').style.display='block'" style="width:auto">Log Out</a>
  </div>
  <ul class="main-menu">
    <li><a href="/main">Plan a journey</a></li>
    <li><a href="/">About us</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/journey">Saved Journeys</a></li>
    <li><a href="/garage">Garage</a></li>
  </ul>
</div>
