<a href="./index.html" class="site-logo"><img src="./img/logo.png" alt=""></a>


<div class="nav-switch">
  <i class="fa fa-bars"></i>
</div>
<div class="nav-warp">
  <div class="user-panel">
    <a href="#nothing" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</a>
  </div>
  <ul class="main-menu">
    <li><a href="main.html">Plan a journey</a></li>
    <li><a href="index.html">About us</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="journeys.html">Saved Journeys</a></li>
    <li><a href="garage.html">Garage</a></li>
  </ul>
</div>
