/* making sure that the container is in the middle */
.signup-container {
  width: 450px;
  margin: 63px auto;
  overflow: hidden;
}

/* css to allign the tabs next to each other and to also alter their appearance */
.details, .car-info, .location {
  width: 225px;
  background: #fff;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

/* css to align the contents of each tab and to alter their appearance */
.details-form, .car-info-form, .location-form {
  background: #fff;
  padding: 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

/* editing all of the input appearances */
.register-input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}

/* highlights the border of the input once clicked */
.input:focus {
  border: 2px solid #f17e06;
}

/* editing the appearance and location of the button */
.btn {
  text-align: center;
  width: 100%;
  background: #f27348;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
}

span a {
  text-decoration: none;
  color: #000;
}

.idNext {
    top: 10px;
    position: relative;
}

#validate1 label.error {
  color: red;
}

#validate2 label.error {
  color: red;
}

#validate3 label.error {
  color: red;
}
