html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #000000;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #1c1c1c;
  font-weight: 600;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #fff;
  line-height: 2;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 80px;
  text-align: center;
  position: relative;
}

.section-title img {
  margin-bottom: 5px;
}

.section-title h2 {
  color: #f27348;
  font-size: 48px;
  font-weight: 700;
}

.section-title p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  color: #8e8e8e;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.section-title.st-white h2 {
  color: #fff;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 105px;
  padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

.slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.slideshow>div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

/*---------------------
  Commom elements
-----------------------*/
.bg-gradient,
.site-btn.sb-gradient,
.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed,
.tab-element .nav-tabs .nav-link {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e1779+0,0a0228+100 */
  background: #2e1779;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2e1779 0%, #0a0228 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2e1779), to(#0a0228));
  background: -o-linear-gradient(left, #2e1779 0%, #0a0228 100%);
  background: linear-gradient(to right, #2e1779 0%, #0a0228 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e1779', endColorstr='#0a0228', GradientType=1);
  /* IE6-9 */
}

/*------------------
	Login Section
-------------------*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background: #f27348;
  color: #fff;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 15px;
  font-size: 14px;
  padding: 12px 19px;
  line-height: 1;
  border-radius: 14px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
  position: center;
}

img.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.container input:focus {
  border: 2px solid #e57436;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  background-color: #c3c5c9;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
  padding-top: 60px;
}

#login-form {
  margin: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #c3c5c9;
  position: absolute;
  display: inline-block;
  left: 40%;
  flex-direction: column;
  margin: 10% auto 15% auto;
  /* 10% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* buttons */
.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 400;
  min-width: 186px;
  padding: 17px 25px;
  border-radius: 14px;
  background: #f27348;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-animation: vibrate-1 1s linear infinite both;
  animation: vibrate-1 1s linear infinite both;
}

.site-btn:hover {
  color: #000;
  animation: none;
}

.site-btn.sb-line {
  background-color: transparent;
  color: #eb2b63;
  -webkit-box-shadow: inset 0 0 0 2px #eb2b63;
  box-shadow: inset 0 0 0 2px #eb2b63;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.elements-section {
  padding-top: 100px;
}

.el-title {
  margin-bottom: 75px;
}

.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/* Circle progress */
.circle-progress {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .loader-circle {
  margin-right: 16px;
}

.circle-progress .progress-info {
  text-align: left;
}

.circle-progress .progress-info  {
  font-size: 72px;
  font-weight: 400;
  color: #1c1c1c;
}

.circle-progress .progress-info p {
  font-size: 18px;
  margin-bottom: 0;
  line-height: normal;
}

.cp-item {
  text-align: center;
}

.cp-item h4 {
  font-size: 14px;
  color: #7e7e7e;
}

.milestone-item {
  text-align: center;
}

.milestone-item i {
  color: #eb2b63;
  font-size: 76px;
}

.milestone-item  {
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}

.milestone-item p {
  font-size: 18px;
  margin-bottom: 0;
}

.social {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social a {
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 32px;
  height: 32px;
  color: #fff;
  background: #491f70;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 13px;
  font-size: 12px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.social a:hover {
  background: #eb2b63;
}

/*------------------
  Header section
---------------------*/
.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 25px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  height: 120px;
}

.Header-section a:visited {
  color: #FFFFFF;
}

.site-logo {
  display: inline-block;
  margin-left: 50px;
}

.nav-switch {
  display: none;
}

.nav-warp {
  float: right;
}

.main-menu {
  list-style: none;
  float: right;
  padding-top: 25px;
}

.main-menu li {
  display: inline;
}

.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-left: 50px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.main-menu li a:hover {
  color: #FF7C0D;
}

.user-panel {
  float: right;
  background: #f27348;
  color: #fff;
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 15px;
  font-size: 14px;
  padding: 12px 19px;
  line-height: 1;
  border-radius: 14px;
}

.user-panel button {
  color: #fff;
}

.user-panel:hover {
  background: #ef8967;
}

.user-panel a {
  color: #fff;
}

/*------------------
	Banner Section
-------------------*/
.banner {
  width: 100%;
  height: 100vh;
}

.banner_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner_content {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.banner_text_large {
  font-size: 215px;
  font-weight: 900;
  color: #f27348;
  opacity: 0.34;
  line-height: 0.75;
}

.banner_text_small {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 72px;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0px 11px 51px rgba(0, 0, 0, 0.35);
}

/* ----------------
  Features
---------------------*/
.features-section .section-title {
  margin-bottom: 130px;
}

.features-section .container {
  margin-bottom: -70px;
}

.feature-item {
  text-align: center;
  margin-bottom: 55px;
}

.feature-item .ft-icon {
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 100px;
  background: #c3c5c9;
  font-size: 43px;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 40px;
}

.feature-item h4 {
  color: #f27348;
  margin-bottom: 28px;
}

.feature-item.fi-center-top .ft-icon {
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transform: scale(1.65);
  -ms-transform: scale(1.65);
  transform: scale(1.65);
}

.feature-item.fi-center-top .ft-icon i {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/*------------------
  hero-section
---------------------*/
.hero-section {
  height: 100%;
  overflow: auto;
}

.hero-content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  animation-name: slide-in-blurred-left;
  animation-duration: 2s;
}

.hero-content h2 {
  color: #f27348;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
}

.hero-content P {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 40px;
  width: 400px;
}

.hero-rocket {
  position: absolute;
  bottom: 8px;
  right: -198px;
}

.hero-rocket img {
  position: relative;
  -webkit-animation: rocket 2s linear infinite;
  animation: rocket 2s linear infinite;
}

.hero-section input {}

.hero-section .row {
  display: block;
  width: 600px;
}

.hero-section>h5 {
  padding-bottom: 0px;
}

#user-input {
  width: 400px;
  display: block;
}

#Start{
  width: 400px;
  display: block;
}

#End{
  width: 400px;
  display: block;
}

#map {
  width: 50%;
  height: 500px;
  float: right;
}

/* #map2 {
  width: 50%;
  height: 500px;
  float: right;
} */

#recommendation {
  display: none;
}

#man-car {
  display: none;
}

section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Detailed Journey Section */
#manufacturerSelect {
  font-size: 20px;
  width: 400px;
  height: 50px;
}

.number-line {
  width: 400px;
  font-size: 24px;
}

.number-line>h3 {
  text-align: center;
}

.number-line>div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline;
  /*IE*/
  Zoom: 1;
  width: 10%;
  text-align: center;
}

.slider {
  -webkit-apperance: none;
  width: 400px;
  height: 20px;
  background: #fff;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f27348;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f27348;
  cursor: pointer;
}

/* Deailed Journey Section End */
/* Calculated Journey Section */
#bigRow {
  width: 900px;
}

.calculatedRow>h3 {
  display: inline-block;
  width: 300px;
}

.calculatedH3 {
  padding-left: 40px;
}

#googleMap2 {
  width: 600px;
  height: 500px;
  float: right;
}

/* Journey Planer Section End */
/*------------------
  hero-banner section
---------------------*/
.hero-banner-section {
  height: 100%;
  overflow: hidden;
}

.hero-banner-content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  position: relative;
  animation-name: slide-in-blurred-left;
  animation-duration: 2s;
}

.hero-banner-content h2 {
  color: #f27348;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
}

.hero-banner-content P {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 40px;
}

.hero-banner-rocket {
  position: absolute;
  bottom: 8px;
  right: -198px;
}

.hero-banner-rocket img {
  position: relative;
  -webkit-animation: rocket 2s linear infinite;
  animation: rocket 2s linear infinite;
}

@-webkit-keyframes rocket {
  0% {
    left: 20px;
    bottom: 20px;
  }

  25% {
    left: -20px;
    bottom: 20px;
  }

  50% {
    left: -20px;
    bottom: 0px;
  }

  75% {
    left: 0px;
    bottom: 0px;
  }

  100% {
    left: 20px;
    bottom: 20px;
  }
}

@keyframes rocket {
  0% {
    left: 20px;
    bottom: 20px;
  }

  25% {
    left: -20px;
    bottom: 20px;
  }

  50% {
    left: -20px;
    bottom: 0px;
  }

  75% {
    left: 0px;
    bottom: 0px;
  }

  100% {
    left: 20px;
    bottom: 20px;
  }
}

/*--------------------
  Footer section
---------------------*/
.footer-section {
  background: #000000;
  overflow: hidden;
  padding: 20px 0px;
}

.footer-section a:visited {
  color: #FF7C0D;
}

.footer-menu {
  list-style: none;
  float: right;
}

.footer-menu li {
  display: inline;
}

.footer-menu li a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  margin-left: 40px;
}

.footer-menu li a:hover {
  color: #FF7C0D;
}

.copyright {
  float: left;
  color: #fff;
  font-size: 14px;
  padding-top: 3px;
  opacity: 0.25;
}

.page-top-section {
  height: 404px;
  padding-top: 215px;
}

.page-top-section h2 {
  color: #fff;
}

.site-breadcrumb {
  color: #fff;
  opacity: 0.37;
  font-size: 14px;
}

.site-breadcrumb a {
  color: #fff;
}

/* ----------------
  Responsive
---------------------*/
@media (min-width: 1200px) {
  .container {
    max-width: 1175px;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-banner-rocket {
    width: 500px;
  }

  .hero-rocket {
    width: 500px;
  }

  .pricing-plan .pricing-body {
    padding: 54px 45px 52px;
  }

  .service-box-text {
    padding: 70px 40px 85px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .user-panel {
    margin-left: 30px;
    margin-right: 20px;
  }

  .site-logo {
    margin-left: 20px;
  }

  .main-menu li a {
    font-size: 15px;
    margin-left: 20px;
  }

  .hero-banner-rocket {
    display: none;
  }

  .hero-rocket {
    display: none;
  }

  .feature-item.fi-center-top .ft-icon {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .feature-item.fi-center-top .ft-icon i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .testimonials-slider {
    margin-top: 50px;
  }

  .banner-text p {
    margin-bottom: 30px;
  }

  .footer-top-section {
    padding-bottom: 50px;
  }

  .footer-widget {
    margin-bottom: 40px;
  }

  .footer-menu li a {
    margin-left: 20px;
  }

  .service-box-text {
    padding: 110px 35px 125px;
  }

  .service-box-image {
    padding: 100px 30px 50px;
  }

  .faq-accordion .panel-body img {
    margin-top: 20px;
  }

  .about-text {
    padding-top: 0;
    margin-bottom: 40px;
  }

  .milestones-top-text {
    text-align: center;
  }

  .milestone-item h2 {
    font-size: 55px;
  }

  .team-member {
    margin-bottom: 50px;
  }

  .sidebar {
    margin-top: 100px;
  }

  .circle-progress {
    margin-bottom: 50px;
  }

  .milestone-item {
    margin-bottom: 40px;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .header-section {
    padding-bottom: 20px;
  }

  .nav-switch {
    right: 30px;
    display: block;
    float: right;
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    margin-right: 40px;
  }

  .nav-warp {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 100%;
    -webkit-box-shadow: 0 10px 50px rgba(93, 93, 93, 0.15);
    box-shadow: 0 10px 50px rgba(93, 93, 93, 0.15);
  }

  .user-panel {
    float: none;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
  }

  .main-menu {
    float: none;
    padding-top: 70px;
  }

  .main-menu li {
    display: block;
  }

  .main-menu li a {
    display: block;
    color: #111;
    margin-left: 0;
    border-top: 1px solid #efefef;
    padding: 13px 35px;
  }

  .hero-banner-rocket {
    display: none;
  }

  .hero-rocket {
    display: none;
  }

  .feature-item.fi-center-top .ft-icon {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .feature-item.fi-center-top .ft-icon i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .testimonials-slider {
    margin-top: 50px;
  }

  .banner-text p {
    margin-bottom: 30px;
  }

  .footer-top-section {
    padding-bottom: 50px;
  }

  .footer-widget {
    margin-bottom: 40px;
  }

  .hero-banner-content h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .footer-section {
    text-align: center;
  }

  .footer-menu,
  .copyright {
    float: none;
    padding-top: 10px;
  }

  .footer-menu li a {
    margin-left: 20px;
  }

  .service-box:nth-child(1) {
    background: #210f5a;
  }

  .service-box-image {
    padding: 100px 30px 50px;
  }

  .faq-accordion .panel-body img {
    margin-top: 20px;
  }

  .about-text {
    padding-top: 0;
    margin-bottom: 40px;
  }

  .milestones-top-text {
    text-align: center;
  }

  .team-member {
    margin-bottom: 50px;
  }

  .clients-seciton img {
    margin: 10px 0;
  }

  .sidebar {
    margin-top: 100px;
  }

  .circle-progress {
    margin-bottom: 50px;
  }

  .milestone-item {
    margin-bottom: 40px;
  }
}

/* Medium Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 766px) {
  .hero-banner-section {
    height: 600px;
  }

  .hero-section {
    height: 600px;
  }
}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .site-logo {
    margin-left: 15px;
  }

  .section-title h2 {
    font-size: 35px;
  }

  .hero-banner-section {
    height: 750px;
  }

  .hero-banner-content h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .hero-section {
    height: 750px;
  }

  .hero-content h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .domain-search-form {
    text-align: center;
  }

  .domain-search-form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .service-box-text {
    padding: 90px 30px 105px;
  }

  .faq-accordion.accordion-area .panel-link,
  .faq-accordion.accordion-area .panel-link.active.collapsed {
    padding: 17px 50px 17px 20px;
  }

  .faq-accordion.accordion-area .panel-link:after {
    right: 20px;
  }
}
}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-16 3:54:42
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

	100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
  	transform-origin: 50% 50%;
    -webkit-filter: blur(40px);
    filter: blur(1px);
    opacity: 1
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-16 14:30:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f27348;
}

.slidecontainer {
  /* width: 65%; */
  font-size: 72px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #2C3539;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 50px;
}

.slider:hover {
  background: #000;
}

.slidecontainer:focus {
  border-color: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #f27348;
  cursor: pointer;
  border-radius: 50px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.mouse-text {
  margin: auto;
  position: absolute;
  left: 46.5%;
  bottom: 15%;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/*###################################
  Garage profile css                #
####################################*/

.dropbtn {
  background-color: #f27348;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 120px;
  line-height: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.8;
}

.registrationDetails{
  display: none;
}

/**Switch**/
.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .8s;
  transition: .8s;
}

.slider3:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;

  background-color: grey;
  -webkit-transition: .8s;
  transition: .8s;
}

input:checked + .slider3 {
  background-color: orange;
}

input:focus + .slider3 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider3:before {
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
}

/* Rounded sliders */
.slider3.round {
  border-radius: 34px;
}

.slider3.round:before {
  border-radius: 50%;
}

.msg{
  color: black;
}

.profileTitle h2{
  color: white;
  font-size:32px;
  margin-top: 20px;
}

.profileTitle .lastname{
  float: right;
}
